<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Pomodoro</title>
  <link href='https://fonts.googleapis.com/css?family=Work+Sans' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Noto+Sans+HK&amp;display=swap'>
  <link rel="stylesheet" href="dist/todo/style.css">
  <link rel="stylesheet" href="dist/timer/style.css">
</head>

<body>
  <!-- partial:index.partial.html -->
  <audio id="audio-break" src="https://a.clyp.it/obco0n3a.mp3"></audio>
  <audio id="audio-work" src="https://a.clyp.it/5tyslehe.mp3"></audio>

  <div class="row">
    <section class="todoapp">
      <header class="header">
        <input class="new-todo" autocomplete="off" placeholder="Type your todo list" v-model="newTodo"
          @keyup.enter="addTodo">
        <button class="new-todo-button" @click="addTodo" v-show="newTodo.length > 0"></button>
      </header>
      <section class="main" v-show="todos.length" v-cloak>
        <div class="completed-wrapper">
          <input id="toggle-all" class="toggle-all" type="checkbox" v-model="allDone">
          <label for="toggle-all">Complete all tasks</label>
          <button class="clear-completed" @click="removeCompleted">
            Clear completed
          </button>
        </div>
        <ul class="todo-list">
          <li v-for="todo in filteredTodos" class="todo" :key="todo.id"
            :class="{ completed: todo.completed, editing: todo == editedTodo }">
            <div class="view">
              <input class="toggle" type="checkbox" v-model="todo.completed">
              <label @dblclick="editTodo(todo)">{{ todo.title }}</label>
              <button class="destroy" @click="removeTodo(todo)"></button>
            </div>
            <input class="edit" type="text" v-model="todo.title" v-todo-focus="todo == editedTodo"
              @blur="doneEdit(todo)" @keyup.enter="doneEdit(todo)" @keyup.esc="cancelEdit(todo)">
          </li>
        </ul>
      </section>
      <footer class="footer" v-show="todos.length" v-cloak>
        <span class="todo-count">
          <strong>{{ remaining }}</strong> {{ remaining | pluralize }} left
        </span>
        <ul class="filters">
          <li><a href="#/all" :class="{ selected: visibility == 'all' }">All</a></li>
          <li><a href="#/active" :class="{ selected: visibility == 'active' }">Uncomplete</a></li>
          <li><a href="#/completed" :class="{ selected: visibility == 'completed' }">Completed</a></li>
        </ul>
      </footer>
    </section>
  </div>

  <div class="row">
    <div class="sr-only">Note: Access keys are shown in square brackets.</div>
    <div id="left" class="column">
      <h1>Pomodoro timer</h1>
      <div>
        <ol>
          <li>Decide on the task to be done.</li>
          <li>Set the pomodoro timer.</li>
          <li>Work on the task until the timer rings.</li>
          <li>Take a short break.</li>
          <li>When the timer rings again, go back to step three.</li>
        </ol>
        After you have done all pomodori, take a longer break of 30 minutes before starting the timer again.
      </div>
      <form id="settings" action="javascript:void(0)">
        <div class="group">
          <label class="group-label" for="work-time">Work:</label>
          <span class="number">
            <button type="button" class="btn-rocker left" id="work-time-minus1">-</button>
            <input class="input-number" inputmode="numeric" step="1" id="work-time" value="25" min="1" max="60">
            <button type="button" class="btn-rocker right" id="work-time-plus1">+</button>
          </span>
          <span class="unit">minutes</span>
        </div>
        <div class="group">
          <hr class="gradient">
          <label class="group-label" for="break-time">Break:</label>
          <span class="number">
            <button type="button" class="btn-rocker left" id="break-time-minus1">-</button>
            <input class="input-number" inputmode="numeric" step="1" id="break-time" value="5" min="1" max="60">
            <button type="button" class="btn-rocker right" id="break-time-plus1">+</button>
          </span>
          <span class="unit">minutes</span>
        </div>
        <div class="group">
          <hr class="gradient">
          <label class="group-label" for="pomodori">Pomodori:</label>
          <span class="number">
            <button type="button" class="btn-rocker left" id="pomodori-minus1">-</button>
            <input class="input-number" inputmode="numeric" step="1" id="pomodori" value="4" min="5" max="60">
            <button type="button" class="btn-rocker right" id="pomodori-plus1">+</button>
          </span>
          <span class="unit">×</span>
        </div>
        <div class="group">
          <hr class="gradient">
          <label class="group-label" for="color-scheme-slider">Colors:<span class="sr-only">[c]</span></label>
          <span class="option">Red/Green</span>
          <input type="range" class="binary-slider" id="color-scheme-slider" min="0" max="1" step="1" value="0"
            accesskey="c">
          <span class="option">Orange/Blue</span>
        </div>
        <hr class="gradient">
        <div class="group">
          <label class="group-label">Notify me:</label>
          <span class="group-col">
            <input type="checkbox" id="check-sound" checked>
            <label for="check-sound">via sound</label>
            <div id="system-notification-pref">
              <input type="checkbox" id="check-notify">
              <label for="check-notify">via system notification
                <abbr title="A message shown on screen, even when this page is not visible">?</abbr>
              </label>
            </div>
          </span>
        </div>
        <div class="group" id="volume-group">
          <hr class="gradient">
          <label class="group-label" for="volume-slider">Volume:</label>
          <input type="range" min="0" step="5" max="100" id="volume-slider" value="50">
          <span id="volume-value">50%</span>
          <button type="button" id="btn-volume-test">Test</button>
        </div>
      </form>
      <div class="note" id="chrome-sound-note">
        Please note: Chrome does only play sound in the currently selected tab. If you use other tabs during work
        sessions, consider enabling system notifications.
      </div>
    </div>
    <div id="right" class="column">
      <div id="pomodoro">
        <svg viewBox="0 0 100 100" xmlns="https://www.w3.org/2000/svg">
          <path id="next" class="break red-green" d="M 50 4 A 46 46 0 1 1 49.99919714854413 4.0000000070062" />
          <path id="current" class="work red-green" d="M 50 4 A 46 46 0 1 1 49.99919714854413 4.0000000070062" />
        </svg>
        <div id="inner">
          <span id="timer">
            <div>
              <span id="timer-status">Stopped</span>
            </div>
            <div id="timer-display"></div>
            <div id="timer-controls">
              <button class="btn-icon red-green" id="btn-start">
                <span id="btn-start-sr" class="sr-only" accesskey="p">Start [p]</span>
              </button>
              <button class="btn-icon invisible red-green" id="btn-stop">
                <span id="btn-stop-sr" class="sr-only" accesskey="s">Stop [s]</span>
              </button>
            </div>
          </span>
        </div>
      </div>
    </div>

  </div>
  <div class="spacer right"></div>
  <!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js'></script>
  <script src="dist/todo/script.js"></script>

  <script src="dist/timer/script.js"></script>

</body>

</html>