<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>iPomodo</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Timer & Todo App">
  <meta name="theme-color" content="#000">
  <meta name="apple-mobile-web-app-title" content="TODO">
  <meta name="application-name" content="TODO">
  <meta name="msapplication-TileColor" content="#da532c">

  <link rel="apple-touch-icon" sizes="180x180" href="dist/icon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="dist/icon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="dist/icon/favicon-16x16.png">
  <link rel="manifest" href="dist/icon/site.webmanifest">
  <link rel="mask-icon" href="dist/icon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">



  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'>
  <link rel='stylesheet' href='https://bootswatch.com/3/cosmo/bootstrap.css'>
  <link rel="stylesheet" href="dist/style.css">
</head>

<body>
  <!-- partial:index.partial.html -->
  <audio id="audio-break" src="https://a.clyp.it/obco0n3a.mp3"></audio>
  <audio id="audio-work" src="https://a.clyp.it/5tyslehe.mp3"></audio>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">

        <a class="navbar-brand" rel="home" href="#" title="iPomodo">
          iPomodo
        </a>

      </div>

      <!--/.navbar-collapse -->
    </div>
  </nav>

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container-fluid">
      <p>This is a simple Pomodoro app.</p>
      <p><a class="btn btn-default btn-sm" target="_blank" href="https://www.wikiwand.com/en/Pomodoro_Technique">Learn
          more about the technique</a></p>

      <div>
        <ol>
          <li>Decide on the task to be done.</li>
          <li>Set the pomodoro timer.</li>
          <li>Work on the task until the timer rings.</li>
          <li>Take a short break.</li>
          <li>When the timer rings again, go back to step three.</li>
        </ol>
        After you have done all pomodori, take a longer break of 30 minutes before starting the timer
        again.
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-push-6">
        <div class="panel panel-default">
          <div class="panel-heading"><i class="fa fa-check-circle-o"></i>
            #TODO</div>
          <div class="panel-body">
            <section class="todoapp">
              <header class="header">
                <input class="new-todo" autocomplete="off" placeholder="Type your todo list" v-model="newTodo"
                  @keyup.enter="addTodo">
                <button class="todobutton new-todo-button" @click="addTodo" v-show="newTodo.length > 0"></button>
              </header>
              <section class="main" v-show="todos.length" v-cloak>
                <div class="completed-wrapper">
                  <input id="toggle-all" class="toggle-all" type="checkbox" v-model="allDone">
                  <label for="toggle-all">Complete all tasks</label>
                  <button class="todobutton clear-completed" @click="removeCompleted">
                    Clear completed
                  </button>
                </div>
                <ul class="todo-list">
                  <li v-for="todo in filteredTodos" class="todo" :key="todo.id"
                    :class="{ completed: todo.completed, editing: todo == editedTodo }">
                    <div class="view">
                      <input class="toggle" type="checkbox" v-model="todo.completed">
                      <label @dblclick="editTodo(todo)">{{ todo.title }}</label>
                      <button class="todobutton destroy" @click="removeTodo(todo)"></button>
                    </div>
                    <input class="edit" type="text" v-model="todo.title" v-todo-focus="todo == editedTodo"
                      @blur="doneEdit(todo)" @keyup.enter="doneEdit(todo)" @keyup.esc="cancelEdit(todo)">
                  </li>
                </ul>
              </section>
              <footer class="footer" v-show="todos.length" v-cloak>
                <span class="todo-count">
                  <strong>{{ remaining }}</strong> {{ remaining | pluralize }} left
                </span>
                <ul class="filters">
                  <li><a href="#/all" :class="{ selected: visibility == 'all' }">All</a></li>
                  <li><a href="#/active" :class="{ selected: visibility == 'active' }">Uncomplete</a></li>
                  <li><a href="#/completed" :class="{ selected: visibility == 'completed' }">Completed</a></li>
                </ul>
              </footer>
            </section>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-pull-6">
        <div class="panel panel-default">
          <div class="panel-heading"><i class="fa fa-clock-o"></i>
            Timer</div>
          <div class="panel-body timer">
            <div id="pomodoro" class="">
              <svg viewBox="0 0 100 100" xmlns="https://www.w3.org/2000/svg">
                <path id="next" class="break red-green" d="M 50 4 A 46 46 0 1 1 49.99919714854413 4.0000000070062" />
                <path id="current" class="work red-green" d="M 50 4 A 46 46 0 1 1 49.99919714854413 4.0000000070062" />
              </svg>
              <div id="inner">
                <span id="timer">
                  <div>
                    <span id="timer-status">Stopped</span>
                  </div>
                  <div id="timer-display"></div>
                  <div id="timer-controls">
                    <button class="btn btn-icon red-green" id="btn-start">
                      <span id="btn-start-sr" class="sr-only" accesskey="p">Start [p]</span>
                    </button>
                    <button class="btn btn-icon invisible red-green" id="btn-stop">
                      <span id="btn-stop-sr" class="sr-only" accesskey="s">Stop [s]</span>
                    </button>
                  </div>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading"><i class="fa fa-cogs"></i>
            Setting</div>
          <div class="panel-body">
            <form id="settings" action="javascript:void(0)">
              <div class="form-group">
                <label class="control-label" for="work-time">Work (minutes)</label>
                <div class="input-group">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-sm btn-number" id="work-time-minus1"
                      data-type="minus">
                      <span class="glyphicon glyphicon-minus"></span>
                    </button>
                  </span>
                  <input type="text" step="1" name="quant[1]" inputmode="numeric"
                    class="input-sm form-control input-number text-center" id="work-time" value="1" min="1" max="60s">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-sm btn-number" id="work-time-plus1"
                      data-type="plus">
                      <span class="glyphicon glyphicon-plus"></span>
                    </button>
                  </span>
                </div>
              </div>
              <hr class="gradient">

              <div class="form-group">
                <label class="control-label" for="break-time">Break (minutes)</label>
                <div class="input-group ">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-sm btn-number" id="break-time-minus1"
                      data-type="minus">
                      <span class="glyphicon glyphicon-minus"></span>
                    </button>
                  </span>
                  <input type="text" step="1" inputmode="numeric" class="input-sm form-control input-number text-center"
                    id="break-time" value="1" min="1" max="60">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-sm btn-number" id="break-time-plus1"
                      data-type="plus">
                      <span class="glyphicon glyphicon-plus"></span>
                    </button>
                  </span>
                </div>
              </div>

              <hr class="gradient">

              <div class="form-group">
                <label class="control-label" for="pomodori">Pomodori</label>
                <div class="input-group">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-sm btn-number" id="pomodori-minus1"
                      data-type="minus">
                      <span class="glyphicon glyphicon-minus"></span>
                    </button>
                  </span>
                  <input type="text" step="1" inputmode="numeric" class="input-sm form-control input-number text-center"
                    id="pomodori" value="1" min="1" max="60">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-sm btn-number" id="pomodori-plus1"
                      data-type="plus">
                      <span class="glyphicon glyphicon-plus"></span>
                    </button>
                  </span>
                </div>
              </div>

              <hr class="gradient">
              <div class="form-group">
                <div class="group" id="notify-group">
                  <label class="group-label" for="notify-group">Notify me:</label><br>
                  <span class="group-col" id="checkbox">
                    <input type="checkbox" id="check-sound" checked>
                    <label for="check-sound">via sound</label>
                    <div id="system-notification-pref">
                      <input type="checkbox" id="check-notify">
                      <label for="check-notify">via browser notification
                      </label>
                    </div>
                  </span>
                </div>
              </div>

              <div class="form-group hidden">
                <div class="group" id="volume-group">
                  <label class="group-label" for="volume-slider">Volume:</label>
                  <input type="range" min="0" step="5" max="100" id="volume-slider" value="50">
                  <span id="volume-value"></span>
                  <button class="btn btn-default btn-xs" type="button" id="btn-volume-test">Test</button>
                </div>
              </div>
            </form>
            <div class="note hidden" id="chrome-sound-note">
              Please note: Chrome does only play sound in the currently selected tab. If you use other tabs during
              work
              sessions, consider enabling system notifications.
            </div>
          </div>
        </div>



      </div>

    </div>


  </div>

  <!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js'></script>
  <script src="dist/script.js"></script>

</body>

</html>
